{% macro print_cert(c) %}
    <h2>{{ c.host }}:{{ c.port }}</h2>
    {% for e in c.error %}
        <p>{{ e }}</p>
    {% endfor %}
    {% if not c.cert %}
        <p>Kunde inte hitta certifikat</p>
    {% else %}
        {% if c.tlsa %}
            {% if c.tlsa.error %}
                TLSA ERROR
                <ul>
                {% for e in c.tlsa.error %}
                    <li>{{ e }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endif %}
        <ul>
            <li><span class="label">Issuer: </span> {{  c.cert.issuer }}</li>
            <li><span class="label">Från: </span> {{  c.cert.from_d|df }}</li>
            <li><span class="label">Till: </span> {{ c.cert.to_d|df }}</li>
            <li><span class="label">CN: </span> {{ c.cert.cn }}</li>
            <li><span class="label">AN: </span> {{ c.cert.an }}</li>

        </ul>
        <hr/>
        <span class="code"><b>AD: </b><span class="{{ match_class(c.tlsa.ad) }}">{{ c.tlsa.ad }}</span></span>
        <ul>
            <h3>Cert hashes</h3>
            <li><span class="code"><b>Cert SHA-256: </b> {{ c.cert.sha256 }}</span></li>
            {% if c.tlsa.sha256 %}
                <li><span class="code"><b>TLSA SHA-256: </b><span class="{{ match_class(c.check.match_sha256) }}">{{ c.tlsa.sha256 }}</span></span></li>
            {% endif %}
            <li><span class="code"><b>Cert SHA-512: </b> {{ c.cert.sha512 }}</span></li>
            {% if c.tlsa.sha512 %}
                <li><span class="code"><b>TLSA SHA-512: </b><span class="{{ match_class(c.check.match_sha512) }}">{{ c.tlsa.sha512 }}</span></span></li>
            {% endif %}
        </ul>
        <ul>
            <h3>SPKI hashes</h3>
            <li><span class="code"><b>SPKI SHA-256: </b> {{ c.cert.spki_sha256 }}</span></li>
            {% if c.tlsa.spki_sha256 %}
                <li><span class="code"><b>TLSA SPKI SHA-256: </b><span class="{{ match_class(c.check.match_spki_sha256) }}">{{ c.tlsa.spki_sha256 }}</span></span></li>
            {% endif %}
            <li><span class="code"><b>SPKI SHA-512: </b> {{ c.cert.spki_sha512 }}</span></li>
            {% if c.tlsa.spki_sha512 %}
                <li><span class="code"><b>TLSA SPKI SHA-512: </b><span class="{{ match_class(c.check.match_spki_sha512) }}">{{ c.tlsa.spki_sha512 }}</span></span></li>
            {% endif %}
        </ul>
    {% endif %}
{% endmacro %}

{% macro print_sshfp(r) %}
    <h2>{{ r.host }}:{{ r.port }}</h2>
    {% if r.error %}
        <p>{{ r.error }}</p>
    {% else %}
    {% if r.check.error %}
        <p>{{ r.check.error }}</p>
    {% else %}
    <ul>
        <li><span class="code"><b>AD: </b><span class="{{ match_class(r.sshfp.ad) }}">{{ r.sshfp.ad }}</span></span></li>
        {% if r.check.rsa %}
        <li>
            <h2>RSA</h2>
            {{ print_check(r.check.rsa) }}
        </li>
        {% endif %}
        {% if r.check.dsa %}
        <li>
            <h2>DSA</h2>
            {{ print_check(r.check.dsa) }}
        </li>
        {% endif %}
        {% if r.check.ecdsa %}
        <li>
            <h2>ECDSA</h2>
            {{ print_check(r.check.ecdsa) }}
        </li>
        {% endif %}
    </ul>

    <table>
        <tr>
            <th>Type</th>
            <th>FP type</th>
            <th>Fingerprint</th>
        </tr>
        {% for i in r.sshfp.rrd %}
            <tr>
                <td> {{ i.algorithm_type }} ({{ i.algorithm_code }})</td>
                <td> {{ i.fingerprint_type }} ({{ i.fingerprint_code }})</td>
                <td> {{ i.fingerprint }}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% endif %}
{% endmacro %}

{% macro print_check(check) %}
<ul>
    {% if check.sshfp_sha1 %}
        <li><span class="code"><b>Key SHA-1:&nbsp;&nbsp;</b> {{ check.key_sha1.upper() }}</span></li>
        <li><span class="code"><b>SSHFP SHA-1:</b> <span class="{{ match_class(check.sha1_match) }}">{{ check.sshfp_sha1.upper() }}</span></span></li>
    {% endif %}
    {% if check.sshfp_sha256 %}
        <li><span class="code"><b>Key SHA-256:&nbsp;&nbsp;</b> {{ check.key_sha256.upper() }}</span></li>
        <li><span class="code"><b>SSHFP SHA-256:</b> <span class="{{ match_class(check.sha256_match) }}">{{ check.sshfp_sha256.upper() }}</span></span></li>
    {% endif %}
</ul>
{% endmacro %}

{% macro link(route, text) %}
<a href="{{ url_for(route) }}">{{ text }}</a>
{% endmacro %}

{% macro rf(f) %}
<b>{{ f.label }}</b>: {{ f }} <span style="color:red">{{ f.errors|join }}</span><br>
{% endmacro %}
