body {
    font-size: 0.6 em;
    font-family: "Courier New", Courier, monospace;
}

a, a:visited {
    color: inherit;
}

h2
{
    margin-bottom: 0;
    #border: 1px solid black
}

ul
{
    margin-top: 0.2em;
    padding-left: 1em;
    list-style-type: none;
    #border: 1px solid black
}

.label
{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
}

.code
{
    font-family: "Courier New", Courier, monospace;
}

.green{
    background-color: green;
    }
.red{
    background-color: red;
    }

hr
{
    height: 1px;
    border: none;
    border-bottom: 1px solid black;
}