{% import 'util.html' as util %}

<html>
<head>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<h1>dafnet.se</h1>
{{ util.print_cert('www.dafnet.se', 443) }}
{{ util.print_cert('mail.dafnet.se', 443) }}
{{ util.print_cert('priv.dafnet.se', 443) }}
{{ util.print_cert('observ.dafnet.se', 443) }}
<h1>feces.se</h1>
{# util.print_cert('www.feces.se', 443) #}
{{ util.print_cert('chat.feces.se', 443) }}
{{ util.print_cert('git.feces.se', 443) }}
<h1>dafcorp.net (SMTP)</h1>
{{ util.print_cert_smtp('datawebb.dafcorp.net', 25) }}
{{ util.print_cert_smtp('pontus.dafcorp.net', 25) }}
{{ util.print_cert_smtp('mainframe.dafcorp.net', 25) }}
<h1>Pjotor</h1>
{# util.print_cert('pean.org', 443) #}
{# util.print_cert('jails.se', 443) #}
</html>