{% extends "base.html" %}

{% block body %}

<h1>HTTPS</h1>
{% if data.tlsa %}
{% for i in data.tlsa %}
    {% if i.error %}
        <h2>{{ i.host }}:{{ i.port }}</h2> <span class="red">{{ i.error }}</span>
    {% else %}
        {{ util.print_cert(i) }}
    {% endif %}
{% endfor %}
{% endif %}
<hr/>
<h1>SMTP</h1>
{% if data.smtp %}
    {% for i in data.smtp %}
        {% if i.error %}
            <h2>{{ i.host }}:{{ i.port }}</h2> <span class="red">{{ i.error }}</span><br>
        {% else %}
            {{ util.print_cert(i) }}
        {% endif %}
    {% endfor %}
{% endif %}
<hr/>
<h1>SSHFP</h1>
{% if data.sshfp %}
    {% for i in data.sshfp %}
        {% if i.error %}
            <h2>{{ i.host }}:{{ i.port }}</h2> <span class="red">{{ i.error }}</span><br>
        {% else %}
            {{ util.print_sshfp(i) }}
        {% endif %}
    {% endfor %}
{% endif %}

{% endblock %}