{% macro print_cert(c) %}
    <h2>{{ c.host }}:{{ c.port }}</h2>
    {% if c.error %}
        <p>{{ c.error }}</p>
    {% else %}
    <ul>
        <li><span class="label">Från: </span> {{  c.cert.from_d|df }}</li>
        <li><span class="label">Till: </span> {{ c.cert.to_d|df }}</li>
        <li><span class="label">CN: </span> {{ c.cert.cn }}</li>
        <li><span class="label">AN: </span> {{ c.cert.an }}</li>
        <li><span class="code"><b>HASH: </b> {{ c.hash }}</span></li>
        <li><span class="code"><b>TLSA: </b><span class="{{ match_class(c.match) }}">{{ c.tlsa }}</span></span></li>
    </ul>
    {% endif %}
{% endmacro %}

{% macro print_sshfp(r) %}
    <h2>{{ r.host }}:{{ r.port }}</h2>
    <ul>
        <li><span class="code"><b>Key type:</b> {{ r.check.key_type_str }} ({{ r.check.key_sshfp_type_code }})</span></li>
        <li><span class="code"><b>Key SHA-1:&nbsp;&nbsp;</b> {{ r.check.key_sha1.upper() }}</span></li>
        <li><span class="code"><b>SSHFP SHA-1:</b> <span class="{{ match_class(r.check.sha1_match) }}">{{ r.check.sshfp_sha1.upper() }}</span></span></li>
        <li><span class="code"><b>Key SHA-256:&nbsp;&nbsp;</b> {{ r.check.key_sha256.upper() }}</span></li>
        <li><span class="code"><b>SSHFP SHA-256:</b> <span class="{{ match_class(r.check.sha256_match) }}">{{ r.check.sshfp_sha256.upper() }}</span></span></li>
    </ul>

    <table>
        <tr>
            <th>Type</th>
            <th>FP type</th>
            <th>Fingerprint</th>
        </tr>
        {% for i in r.sshfp %}
            <tr>
                <td> {{ i.algorithm_type }} ({{ i.algorithm_code }})</td>
                <td> {{ i.fingerprint_type }} ({{ i.fingerprint_code }})</td>
                <td> {{ i.fingerprint }}</td>
            </tr>
        {% endfor %}
    </table>
{% endmacro %}

{% macro link(route, text) %}
<a href="{{ url_for(route) }}">{{ text }}</a>
{% endmacro %}

{% macro rf(f) %}
<b>{{ f.label }}</b>: {{ f }} <span style="color:red">{{ f.errors|join }}</span><br>
{% endmacro %}
